.Media-side-margins {
  margin-right: 10px;
  margin-left: 10px;
}
/*====================================== Portfolio-content START =======================================*/
body {
  min-width: 670px;
}
.page-banner {
  padding: 105px 0;
  background: url("../graph/pict/page-banner-all.jpg") repeat-x top center #2e363e;
}
.page-banner__title {
  font-size: 80px;
  text-align: center;
  color: #cccece;
}
.gallery {
  padding-top: 30px;
  padding-bottom: 60px;
  border-bottom: 1px solid #b3d5e4;
}
.gallery__title {
  margin-bottom: 40px;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  color: #2190c1;
}
.gallery-nav {
  border-top: 1px solid #b3d5e4;
  border-bottom: 1px solid #b3d5e4;
}
.gallery-nav > .inner {
  max-width: 1020px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  border-left: 1px solid #b3d5e4;
  border-right: 1px solid #b3d5e4;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  box-sizing: border-box;
}
.gallery-nav__groups-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.gallery-nav__groups-list li {
  -ms-flex-item-align: center;
      -webkit-align-self: center;
          align-self: center;
  position: relative;
  padding: 0 25px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Ubuntu", "Arial", sans-serif;
  cursor: pointer;
}
.gallery-nav__groups-list .groups-list__item--active {
  color: #2190c1;
}
.gallery-nav__groups-list li:after {
  position: absolute;
  right: 0;
  top: -4px;
  content: "";
  width: 1px;
  height: 25px;
  background: #c3c4c4;
}
.gallery-nav__groups-list li:last-child:after {
  display: none;
}
.gallery-nav__category {
  position: relative;
  padding: 20px 50px 20px 20px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s all;
}
.gallery-nav__category span {
  display: none;
}
/*.gallery-nav__category:hover{
  color: @border-portfolio-nav;
}
.gallery-nav__category:hover:after{
  background: @border-portfolio-nav;
}
.gallery-nav__category:hover:before {
  border-color: @border-portfolio-nav;
  border-left-color: transparent;
  border-top-color: transparent;
}*/
.gallery-nav__category--active {
  background: #2190c1;
  color: white;
}
.gallery-nav__category:before {
  content: "";
  position: absolute;
  top: 40%;
  right: 15%;
  width: 0;
  height: 0;
  border: 6px solid #515862;
  border-left-color: transparent;
  border-top-color: transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  transition: all 0.3s;
}
.gallery-nav__category:after {
  content: "";
  position: absolute;
  top: 39%;
  right: 17.5%;
  width: 3px;
  height: 8px;
  background: #515862;
  transition: all 0.3s;
}
.gallery-nav__category--active:after {
  background: white;
}
.gallery-nav__category--active:before {
  border-right-color: white;
  border-bottom-color: white;
}
.category-list {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  max-height: 0;
  width: 100%;
  padding: 8px 12px;
  margin: 0;
  box-sizing: border-box;
  opacity: 0;
  transition: 0.5s all;
  list-style: none;
  background: #f98561;
}
.category-list li {
  position: relative;
  padding-left: 11px;
  text-transform: none;
  color: #f9f5d2;
  font-size: 13px;
  line-height: 30px;
  border-bottom: 1px solid #f9af8c;
}
.category-list li:last-child {
  border-bottom: none;
}
.category-list li:after {
  content: "";
  position: absolute;
  right: 0;
  top: 35%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #f9f5d2;
}
.category-list li:before {
  display: none;
  position: absolute;
  right: 0;
  top: -4px;
  content: "";
  width: 1px;
  height: 25px;
  background: #c3c4c4;
}
.category-list .item-active:after {
  background: #2190c1;
}
.category-list--active {
  z-index: 10;
  max-height: 200px;
  opacity: 1;
}
.gallery-nav__grid-btn {
  width: 30px;
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
  -ms-flex-item-align: center;
      -webkit-align-self: center;
          align-self: center;
  cursor: pointer;
}
.gallery-nav__grid-btn--lines {
  background: url("../graph/img/portfolio-gallery-btn-line.png") no-repeat center;
}
.gallery-nav__grid-btn--square {
  background: url("../graph/img/portfolio-gallery-btn-square.png") no-repeat center;
}
.square-active {
  background: url("../graph/img/portfolio-gallery-btn-square--active.png") no-repeat center;
}
.lines-active {
  background: url("../graph/img/portfolio-gallery-btn-line--active.png") no-repeat center;
}
.gallery-container .inner {
  padding-top: 45px;
  padding-bottom: 20px;
}
.gallery-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.gallery-grid--square ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.gallery-grid--square .gallery-item {
  position: relative;
  width: 275px;
  height: 205px;
  margin-bottom: 45px;
  padding: 25px;
  box-sizing: border-box;
  background: #c1c1c1;
  text-align: center;
}
.gallery-grid--square .gallery-item__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.3s -webkit-filter;
}
.gallery-grid--square .gallery-item__title,
.gallery-grid--square .gallery-item__btn {
  font-family: BreeSerif, "Arial", sans-serif;
}
.gallery-grid--square .gallery-item__title {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: normal;
}
.gallery-grid--square .gallery-item__intro {
  font-size: 11px;
  line-height: 15px;
  margin-bottom: 20px;
}
.gallery-grid--square .gallery-item__btn {
  display: inline-block;
  padding: 12px 24px 12px 60px;
  font-size: 17px;
  border: 1px solid white;
  border-radius: 4px;
  background: url("../graph/img/portfolio-gallery-eye.png") no-repeat 15px center;
}
.gallery-grid--square .gallery-item__title,
.gallery-grid--square .gallery-item__intro,
.gallery-grid--square .gallery-item__btn {
  opacity: 0;
  text-align: center;
  position: relative;
  z-index: 2;
  color: white;
  transition: opacity 0.6s;
}
.gallery-grid--square .gallery-item:hover .gallery-item__title,
.gallery-grid--square .gallery-item:hover .gallery-item__intro,
.gallery-grid--square .gallery-item:hover .gallery-item__btn {
  opacity: 1;
}
.gallery-grid--square .gallery-item:hover .gallery-item__img {
  -webkit-filter: blur(5px);
}
.gallery-grid--lines .gallery-item {
  position: relative;
  height: 225px;
  padding-left: 300px;
  margin-bottom: 20px;
  border-bottom: 1px solid #cccece;
}
.gallery-grid--lines .gallery-item:last-child {
  border-bottom: none;
}
.gallery-grid--lines .gallery-item__img {
  position: absolute;
  top: 0;
  left: 0;
}
.gallery-grid--lines .gallery-item__title {
  font-family: BreeSerif, "Arial", sans-serif;
  font-size: 28px;
  margin-bottom: 15px;
}
.gallery-grid--lines .gallery-item__intro {
  font-size: 17px;
  line-height: 23px;
  margin-bottom: 15px;
}
.gallery-grid--lines .gallery-item__btn {
  display: inline-block;
  padding: 10px 24px 10px 60px;
  font-family: BreeSerif, "Arial", sans-serif;
  font-size: 19px;
  border: 1px solid #b3d5e4;
  border-radius: 4px;
  background: url("../graph/img/portfolio-gallery-eye.png") no-repeat 15px center rgba(193, 193, 193, 0.5);
  color: #2190c1;
  box-shadow: 2px 2px 3px 0 grey;
}
.gallery-controls {
  width: 500px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gallery-controls__btn {
  display: block;
  font-size: 20px;
  line-height: 26px;
  padding: 5px 10px;
  background: #aaaaaa;
  color: white;
  margin-right: 8px;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.gallery-controls .gallery-controls--active {
  background-color: #2190c1;
  color: #c5f0ff;
}
.gallery-controls__btn:hover {
  background-color: #0080b7;
}
.gallery-controls__btn--prev,
.gallery-controls__btn--next {
  color: #c5f0ff;
  font-size: 15px;
}
.gallery-controls__btn--prev {
  padding-left: 30px;
  background: url("../graph/img/portfolio-gallery-prev-icon.png") no-repeat left 13px center #2190c1;
}
.gallery-controls__btn--next {
  padding-right: 30px;
  background: url("../graph/img/portfolio-gallery-next-icon.png") no-repeat right 13px center #2190c1;
}
.clients {
  padding: 25px 0;
  border-bottom: 1px solid #b3d5e4;
}
.clients__title {
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
  font-size: 27px;
  line-height: 40px;
  color: #2190c1;
  font-family: BebasNeue, "Arial", sans-serif;
}
.clients__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.testimonals {
  padding-top: 30px;
}
.testimonals__title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 27px;
  line-height: 40px;
  color: #2190c1;
}
.testimonals__phrase {
  display: none;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 800px;
  text-align: center;
  font-size: 25px;
  font-family: BreeSerif, "Arial", sans-serif;
}
.testimonals .show {
  display: block;
}
.testimonals__block {
  position: relative;
  padding-top: 50px;
  margin: 0 auto;
  width: 210px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.testimonals__block .element {
  width: 67px;
  border-bottom: 6px solid #c1c1c1;
  transition: all 0.8s;
  -webkit-perspective: 500px;
          perspective: 500px;
  cursor: pointer;
}
.testimonals__block .coin {
  position: relative;
  width: 67px;
  height: 67px;
  margin-bottom: 15px;
  border-radius: 50%;
  transition: all 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.testimonals__block .coin:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  content: "";
  border: 2px solid #f88560;
  border-radius: 50%;
  background: transparent;
  transition: all 0.3s cubic-bezier(0.65, 0.12, 0.42, 2.25);
  -webkit-transform: scale(1);
          transform: scale(1);
}
.testimonals__block .coin:hover:before {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.testimonals__block .front,
.testimonals__block .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 67px;
  height: 67px;
  line-height: 67px;
  border-radius: 50%;
  background-color: #c1c1c1;
  text-align: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.testimonals__block .male .front {
  background: url("../graph/img/main-testimonals-icon-male.png") no-repeat bottom center #c1c1c1;
}
.testimonals__block .female .front {
  background: url("../graph/img/main-testimonals-icon-female.png") no-repeat bottom center #c1c1c1;
}
.testimonals__block .back {
  background: #f88560;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.testimonals__block .male .back {
  background: url("../graph/img/main-testimonals-icon-male.png") no-repeat bottom center #f88560;
}
.testimonals__block .female .back {
  background: url("../graph/img/main-testimonals-icon-female.png") no-repeat bottom center #f88560;
}
.testimonals__block .name {
  position: absolute;
  top: 0;
  left: 10px;
  text-align: center;
  background: #ffffff;
  opacity: 0;
  color: #f88560;
  transition: 0.5s all;
}
.testimonals__block .active + .name {
  opacity: 1;
}
.testimonals__block .active .coin {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.testimonals__block .active {
  border-bottom-color: #f88560;
}
.testimonals__block .active:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 45%;
  width: 8px;
  height: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #f88560;
}
/*====================================== Portfolio-content END =======================================*/
/*=======================*/
/*=======================*/
/*====================================== Media for Portfolio-content START =======================================*/
@media (max-width: 1050px) {
  .gallery-nav .inner {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gallery-nav__groups-list li {
    font-size: 14px;
    padding: 0 18px;
  }
  .gallery-nav__category {
    font-size: 17px;
  }
}
@media (max-width: 900px) {
  .gallery-nav .inner {
    padding: 0 10px;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
  }
  .gallery-grid--square ul {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gallery-grid--square .gallery-item {
    margin-left: 20px;
    margin-right: 20px;
  }
  .gallery-grid--square .gallery-item:last-child {
    display: none;
  }
  .testimonals__phrase {
    width: 90%;
    font-size: 20px;
  }
}
@media (max-width: 825px) {
  .gallery-nav .inner {
    padding-top: 20px;
  }
  .gallery-nav__category:after,
  .gallery-nav__category:before {
    display: none;
  }
  .gallery-nav__category {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 0;
    -webkit-flex-grow: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    font-weight: 500;
  }
  .gallery-nav__category span {
    display: block;
  }
  .gallery-nav__category .category-list {
    position: static;
    z-index: 10;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-grow: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    width: 70%;
    padding: 0;
    background: #ffffff;
    max-height: none;
    opacity: 1;
  }
  .gallery-nav__category li {
    padding: 0 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    border-bottom: none;
    color: #515862;
  }
  .gallery-nav__category .item-active {
    color: #2190c1;
  }
  .gallery-nav__category li:first-child {
    padding-left: 30px;
  }
  .gallery-nav__category li:last-child:before {
    display: none;
  }
  .gallery-nav__category li:after {
    display: none;
  }
  .gallery-nav__category li:before {
    display: block;
  }
  .gallery-nav__groups-list {
    width: 100%;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #cccece;
  }
}
@media (max-width: 750px) {
  .gallery__title {
    margin-bottom: 30px;
    font-size: 60px;
  }
  .clients {
    display: none;
  }
}
/*======================  Media for portfolio-content END  ================================*/
/*===========================*/
/*===========================*/
