/*=================== Type START =====================================*/
@font-face {
  font-family: BebasNeue;
  src: url("../fonts/BebasNeue Regular.otf");
  src: url("../fonts/BebasNeue Regular.ttf");
}
@font-face {
  font-family: BreeSerif;
  src: url("../fonts/BreeSerif-Regular.otf");
}
body {
  font-family: "Ubuntu", "Arial", sans-serif;
  color: #515862;
  overflow-x: hidden;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  font-size: 12px;
}
h1,
h2 {
  font-family: BebasNeue;
}
h3 {
  font-family: BreeSerif, "Arial", sans-serif;
  font-size: 17px;
}
a,
a:active,
a:visited,
a:hover {
  text-decoration: none;
}
/*=================== Type END =====================================*/
/*==============*/
/*==============*/
.inner {
  max-width: 920px;
  padding: 0 10px;
  margin: 0 auto;
}
/*=================== Header START =====================================*/
.page-header {
  /*&__navigation-item a:hover{
    background: #12a3d6;
    color: white;
    transition: all 0.3s; 
  }*/
}
.page-header a,
.page-header a:active,
.page-header a:visited,
.page-header a:hover {
  color: #515862;
}
.page-header__menu > .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header__logo {
  position: relative;
  width: 100px;
  padding-left: 55px;
  font-family: BreeSerif, "Arial", sans-serif;
  font-size: 20px;
  color: #606060;
}
.page-header__logo:before {
  content: "";
  position: absolute;
  top: 20%;
  left: 0;
  width: 20px;
  height: 20px;
  background: #f98561;
  border-radius: 50%;
}
.page-header__logo:after {
  content: "";
  position: absolute;
  top: 20%;
  left: 23px;
  width: 20px;
  height: 20px;
  background: #23afc8;
}
.page-header__main-navigation {
  display: flex;
  width: 450px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
.page-header__navigation-item {
  position: relative;
  transition: all 0.6s;
}
.page-header .selected-item a {
  background: #12a3d6;
  color: white;
}
.page-header .selected-item {
  overflow: hidden;
}
.page-header .selected-item:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 12px;
  background: #0080b7;
  animation-name: menu-item;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}
.page-header .selected-item:after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 45%;
  width: 8px;
  height: 8px;
  background: #0080b7;
  transform: rotate(45deg);
  animation: menu-item--2 0.65s ease-in;
}
.page-header .item-blog {
  display: inline-flex;
}
.page-header .item-blog a {
  align-self: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #f98561;
  color: white;
  border-radius: 5px;
}
.page-header__navigation-item a {
  display: block;
  padding: 35px 18px;
  font-size: 14px;
}
.page-header__navigation-item:hover {
  box-shadow: inset 0 -200px 0 0px #12a3d6;
}
.page-header__navigation-item:last-child:hover {
  box-shadow: none;
}
.page-header__navigation-item:hover a {
  color: white;
}
.page-header__search {
  position: relative;
  z-index: 20;
  display: inline-block;
  padding: 15px 0;
  padding-right: 45px;
  font-size: 12px;
  background: url("../graph/img/header-icon-search.png") no-repeat 100% 30%;
}
.page-header__open-btn {
  display: none;
  z-index: 10;
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.page-header__open-btn i {
  display: block;
  width: 30px;
  height: 4px;
  margin: 0 auto;
  align-self: center;
  background: #515862;
}
.page-header__open-btn i:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 5px;
  width: 30px;
  height: 4px;
  background: #515862;
}
.page-header__open-btn i:after {
  content: "";
  position: absolute;
  top: 26px;
  left: 5px;
  width: 30px;
  height: 4px;
  background: #515862;
}
@keyframes menu-item {
  0% {
    transform: translateY(25px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes menu-item--2 {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0) rotate(45deg);
  }
}
/*=================== Header END =====================================*/
/*==============*/
/*==============*/
/*=================== Footer START =====================================*/
footer {
  padding: 40px 0;
  background: #2e3e4f;
  color: #a3afb2;
}
footer a {
  color: #2190c1;
}
footer h2 {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 26px;
  color: #f98561;
}
footer .inner {
  display: flex;
  flex-wrap: wrap;
}
.column {
  vertical-align: top;
}
.column-feeds {
  width: 220px;
  margin-right: 15px;
}
.column-feeds__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.column-feeds__item {
  padding: 10px 0;
  border-bottom: 1px solid #556270;
  line-height: 20px;
  font-size: 12px;
}
.column-feeds__item time {
  display: block;
}
.column-feeds__item:last-child {
  border-bottom: none;
}
.column-newsletter {
  width: 250px;
  margin-right: 30px;
  line-height: 20px;
}
.column-newsletter h2 {
  margin-bottom: 30px;
}
.column-newsletter p {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #556270;
}
.newsletter__email {
  position: relative;
  font-size: 13px;
}
.newsletter__email label {
  display: block;
  margin-bottom: 10px;
  color: #2190c1;
}
.newsletter__email input[type="email"] {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 3px;
}
.newsletter__email input[type="submit"] {
  display: block;
  position: absolute;
  right: 0;
  width: 75px;
  text-align: center;
  padding: 7px 0;
  background: #2190c1;
  border: none;
  border-radius: 3px;
  color: white;
  transition: all 0.3s;
}
.newsletter__email input[type="submit"]:hover {
  background: #0080b7;
}
.column-projects {
  width: 230px;
  margin-right: 15px;
}
.column-projects__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.column-projects .projects-item {
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid #556270;
}
.column-projects .projects-item img {
  position: absolute;
  top: 10px;
}
.column-projects .projects-item p,
.column-projects .projects-item a,
.column-projects .projects-item time {
  font-size: 12px;
  line-height: 20px;
  padding-left: 66px;
}
.column-projects .projects-item:last-child {
  border-bottom: none;
}
.column-contact {
  width: 150px;
  margin-right: -4px;
  font-size: 13px;
  line-height: 15px;
}
.column-contact__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.column-contact .contact-item {
  padding: 12px 0;
  padding-left: 45px;
}
.column-contact .contact-item--phone {
  background: url("../graph/img/footer-icon-phone.png") no-repeat 0 7px;
}
.column-contact .contact-item--mobile {
  background: url("../graph/img/footer-icon-mobile.png") no-repeat 0 7px;
}
.column-contact .contact-item--message {
  background: url("../graph/img/footer-icon-message.png") no-repeat 0 15px;
}
/*=================== Footer END =====================================*/
/*==============*/
/*==============*/
/*============================  Media for header START =============================================================================*/
@media (max-width: 800px) {
  .page-header__menu > .inner {
    padding-top: 10px;
    flex-wrap: wrap;
  }
  .page-header__main-navigation {
    justify-content: space-around;
    width: 100%;
    order: 2;
    border-top: 1px solid #c6c6c6;
  }
  .page-header__main-navigation a {
    padding: 30px 15px;
  }
}
@media (max-width: 450px) {
  .page-header__menu > .inner {
    padding-bottom: 80px;
    position: relative;
  }
  .page-header__main-navigation {
    position: absolute;
    z-index: 10;
    top: 70px;
    left: 0;
    flex-wrap: wrap;
    transform: translate(-100%);
    background: white;
    transition: all 0.5s ease-in-out;
    transition-delay: 0.90s;
  }
  .page-header__main-navigation--translated {
    transform: translate(0);
  }
  .page-header__navigation-item {
    text-align: center;
    width: 100%;
  }
  .page-header .selected-item:after {
    left: 49%;
  }
  .page-header .item-blog {
    margin-top: 15px;
    margin-bottom: 20px;
    justify-content: center;
  }
  .page-header__open-btn {
    display: flex;
    position: absolute;
    top: 85px;
    right: 10px;
    transform: translateX(0);
  }
  .page-header__open-btn--animation {
    animation-name: btn-translate;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
  }
  .page-header__open-btn--animation-2 {
    animation-name: btn-translate-2;
    animation-duration: 3.5s;
    animation-timing-function: ease-in-out;
  }
  .page-header .active:after {
    opacity: 0;
  }
  .page-header .active:before {
    transform: rotate(90deg) translateX(-10px) translateY(5px);
  }
  .page-header .active {
    transform: rotate(45deg);
  }
  .page-header__navigation-item:hover {
    box-shadow: inset 500px 0 0 0 #12a3d6;
  }
}
/*=================== Media for header END =====================================*/
/*====================*/
/*====================*/
/*================================== Media for Footer START ====================================================================================*/
@media (max-width: 950px) {
  footer .inner {
    justify-content: space-around;
  }
  .column {
    margin: 0;
    margin-bottom: 20px;
  }
  .column-projects {
    display: none;
  }
}
@media (max-width: 870px) {
  footer .inner {
    justify-content: flex-start;
  }
  .column-newsletter {
    width: 100%;
    order: -1;
    margin-bottom: 55px;
  }
  .column-feeds {
    width: 350px;
    margin-right: 50px;
  }
}
@media (max-width: 630px) {
  .column-feeds {
    width: 45%;
  }
}
@media (max-width: 430px) {
  .column-feeds {
    width: 100%;
    margin-right: 0;
  }
  .column-contact {
    width: 100%;
  }
  .column-contact .contact-item {
    padding-left: 60px;
  }
}
@keyframes btn-translate {
  10% {
    transform: scale(0.6);
  }
  30% {
    transform: scale(1);
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes btn-translate-2 {
  10% {
    transform: scale(0.6);
  }
  25% {
    transform: scale(1);
  }
  30% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}
/*=================== Media for footer END =====================================*/
/*====================*/
/*====================*/
