/*====================================== Media for About-content START =======================================*/
@media (max-width: 925px) {
  .team {
    &__wrap {
      justify-content: center;
    }
    .team-card:nth-child(odd) {
      box-shadow: 10px -10px 0 0 #d3d3d3;
    }
  }
}  

@media (max-width: 850px) {
  main {
    padding-bottom: 50px;
  }
  .features {
    &__list {
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &-item:nth-child(2) {
      border-right: 1px solid #dcdcdc;
    }
    &-item {
      width: 44%;
    }
  }
}

@media (max-width: 560px) {
  .about-us {
    &__phrase {
      font-size: 50px;  
    }
  }
  .features {
    .features-item {
      width: 100%;
      border: none;
    }
    .features-item:nth-child(2),
    .features-item:last-child{
      border-right: none;
    }
  }
}

@media (max-width: 400px) {
  .team {
    .team-card,
    .team-card:nth-child(odd){
      margin-right: 0;
      margin-left: 0;
      box-shadow: none;
      .card__skills {
        display: none;
      }
      img {
        width: 115px;
      }
      .card__name {
        font-size: 25px;
      }
      img ~.card--aside {
        margin-bottom: 13px;
      }
    }
  }
}
/*====================================== Media for About-content END =======================================*/
/*=========================*/
/*=========================*/