/*Media for header =============================================================================*/

@media (max-width: 800px) {
  .page-header {
    &__menu > .inner {
      padding-top: 10px;
      flex-wrap: wrap;
    }
    &__main-navigation {
      justify-content: space-around;
      width: 100%;
      order: 2;
      border-top: 1px solid #c6c6c6;
      a {
        padding: 30px 15px;
      }
    }
  }
}

@media (max-width: 450px) {
  .page-header {
     &__menu > .inner {
      padding-bottom: 60px;
    }
    &__main-navigation {
      display: none;
    }
    &__open-btn {
//      order: 3;
      display: flex;
      position: absolute;
      top: 60px;
      right: 10px;
    }
  }
}

/*Media for Footer ====================================================================================*/
@media (max-width: 950px){
  footer {
    .inner {
      justify-content: space-around;
    }
  }
  .column {
    margin: 0;
    margin-bottom: 20px;
  }
  .column-projects {
    display: none;
  }
}

@media (max-width: 870px) {
  footer {
    .inner {
      justify-content:flex-start;
    }
  }
  .column-newsletter {
    width: 100%;
    order: -1;
    margin-bottom: 55px;
  }
  .column-feeds {
    width: 350px;
    margin-right: 50px;
  }
}

@media (max-width: 630px) {
  .column-feeds {
    width: 45%;
  }
}

@media (max-width: 430px) {
  .column-feeds {
    width: 100%;
    margin-right: 0;
  }
  .column-contact {
    width: 100%;
    .contact-item {
      padding-left: 60px;
    }
  }
}