/*============================  Media for header START =============================================================================*/

@media (max-width: 800px) {
  .page-header {
    &__menu > .inner {
      padding-top: 10px;
      flex-wrap: wrap;
    }
    &__main-navigation {
      justify-content: space-around;
      width: 100%;
      order: 2;
      border-top: 1px solid #c6c6c6;
      a {
        padding: 30px 15px;
      }
    }
  }
}

@media (max-width: 450px) {
  .page-header {
    &__menu > .inner {
      padding-bottom: 80px;
      position: relative;
    }
    &__main-navigation {
      position: absolute;
      z-index: 10;
      top: 65px;
      left: 100%;
      flex-wrap: wrap;
      background: white;
    }
    &__navigation-item {
      text-align: center;
      width: 100%;
      transform: translate(0);
      a {
        padding-top: 25px;
        padding-bottom: 25px;
      }
    }
    &__navigation-item:not(.item-blog) {
      border-top: 1px solid lightblue;
    }
    &__navigation-item--view {
      transform: translate(-100%);
    }
    .selected-item:after {
      left: 49%;
      bottom: 6px;
    }
    .selected-item:before {
      height: 10px;
    }
    .item-blog {
      justify-content: center;
      margin-top: 15px;
      margin-bottom: 20px;
      background: transparent;
    }
    &__navigation-item:hover {
      box-shadow: inset 500px 0 0 0 #12a3d6;
    }

    &__open-btn-wrapper {
      position: absolute;
      top: 80px;
      right: 10px;
      display: flex;
      .open-btn {
        transition: all 0.3s;
        background: @color-body;
      }
      .open-btn:after,
      .open-btn:before {
        transform: rotate(0);
        transition: all 0.3s ease-in;
      }
    }
    .open-btn--active {
      background: transparent;
    }
    .open-btn--active:before {
      transform-origin: left;
      transform: rotate( 45deg );
    }
    .open-btn--active:after {
      transform-origin: left;
      transform: rotate( -45deg );
    }
  }
}

/*=================== Media for header END =====================================*/
/*====================*/
/*====================*/


/*================================== Media for Footer START ====================================================================================*/
@media (max-width: 950px) {
  footer {
    .inner {
      justify-content: space-around;
    }
  }
  .column {
    margin: 0;
    margin-bottom: 20px;
  }
  .column-projects {
    display: none;
  }
}

@media (max-width: 870px) {
  footer {
    .inner {
      justify-content: flex-start;
    }
  }
  .column-newsletter {
    width: 100%;
    order: -1;
    margin-bottom: 55px;
  }
  .column-feeds {
    width: 350px;
    margin-right: 50px;
  }
}

@media (max-width: 630px) {
  .column-feeds {
    width: 45%;
  }
}

@media (max-width: 430px) {
  .column-feeds {
    width: 100%;
    margin-right: 0;
  }
  .column-contact {
    width: 100%;
    .contact-item {
      padding-left: 60px;
    }
  }
}


/*=================== Media for footer END =====================================*/
/*====================*/
/*====================*/

















//@media (max-width: 450px) {
//  .page-header {
//    &__menu > .inner {
//      padding-bottom: 80px;
//      position: relative;
//    }
//    &__main-navigation {
//      position: absolute;
//      z-index: 10;
//      top: 70px;
//      left: 0;
//      flex-wrap: wrap;
//      transform: translate(-100%);
//      background: white;
//      transition: all 0.5s ease-in-out;
//      transition-delay: 0.90s;
//    }
//    &__main-navigation--translated {
//      transform: translate(0);
//    }
//    &__navigation-item {
//      text-align: center;
//      width: 100%;
//    }
//    .selected-item:after {
//      left: 49%;
//    }
//    .item-blog {
//      margin-top: 15px;
//      margin-bottom: 20px;
//      justify-content: center;
//    }
//    &__open-btn {
//      //      order: 3;
//      display: flex;
//      position: absolute;
//      top: 85px;
//      right: 10px;
//      transform: translateX(0);
//    }
//    &__open-btn--animation {
//      animation-name: btn-translate;
//      animation-duration: 2.5s;
//      animation-timing-function: ease-in-out;
//    }
//    &__open-btn--animation-2 {
//      animation-name: btn-translate-2;
//      animation-duration: 3.5s;
//      animation-timing-function: ease-in-out;
//    }
//    .active:after {
//      opacity: 0;
//    }
//    .active:before {
//      transform: rotate(90deg) translateX(-10px) translateY(5px);
//    }
//    .active {
//      transform: rotate(45deg);
//    }
//    &__navigation-item:hover {
//      box-shadow: inset 500px 0 0 0 #12a3d6;
//    }
//  }
//}

//@keyframes btn-translate {
//  10% {
//    transform: scale(0.6);
//  }
//  30% {
//    transform: scale(1);
//  }
//  50% {
//    transform: translateX(100px);
//  }
//  100% {
//    transform: translateX(0);
//  }
//}  
//
//@keyframes btn-translate-2 {
//  10% {
//    transform: scale(0.6);
//  }
//  25% {
//    transform: scale(1);
//  }
//  30% {
//    transform: translateX(100px);
//  }
//  100% {
//    transform: translateX(0);
//  }
//}