/*====================================== Main-content START =======================================*/
.page__slider {
  .slide {
    padding-top: 110px;
    box-sizing: border-box;
    min-height: 490px;
    text-align: center;
    background: url("../graph/pict/header-banner-bg.jpg") repeat-x bottom center @bg-banner;
    color: #cccece;
    h3 {
      margin-bottom: 15px;
      font-family: @ff-bebas;
      font-size: 60px;
    }
    p {
      width: 650px;
      margin: 0 auto;
      margin-bottom: 40px;
      font-size: 14px;
    }
    .slider__btn {
      position: relative;
      display: block;
      overflow: hidden;
      width: 250px;
      margin: 0 auto;
      padding: 13px 0;
      color: #ffebca;
      font-size: 25px;
      font-family: @ff-ubuntu;
      text-transform: uppercase;
      transform-origin: left;
      border-radius: 5px;
      background: @c-orange;
      transition: all 0.3s;
      span {
        position: relative;
        z-index: 10;
      }
    }
    .slider__btn:hover {
      animation: rot-2 0.5s ease-in-out;
    }
@keyframes rot { 
  30% {
    transform: rotate( 2deg );
  }
  70% {
    transform-origin: right;
    transform: rotate( -2deg );
  }
}
@keyframes rot-2 {
  30% {
    transform: rotate( 2deg ) skewY( 1.5deg );
  }
  70% {
    transform-origin: right;
    transform: rotate( -2deg ) skewY( -1.5deg );
  }
}
    /*.slider__btn:before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      content: "";
      border: 2px solid #f98561;
      border-radius: 5px;
      background: transparent;
      transition: all 0.3s cubic-bezier( 0.65, 0.12, 0.42, 2.25 );
      transform: scale(1);
    }
    .slider__btn:hover:before {
      transform: scaleX(1.05) scaleY(1.20);
    }*/
    .circle {
      width: 2px;
      height: 2px;
      background: darken(#f98561, 8%);
      background: rgba(248, 103, 58, 0.5);
      position: absolute;
      border-radius: 50%;
      transition: all 0.3s;
      z-index: 2;
    }
    .transform {
      animation: scale 0.5s ease-in-out;
    }

    @keyframes scale {
      100% {
        transform: scale(270);
      }
    }
  }
  .controls-wrap {
    position: relative;
    padding: 0;
  }
  .controls {
    position: absolute;
    right: 10px;
    top: -70px;
    a {
      display: inline-block;
      width: 15px;
      height: 15px;
      background: #adadad;
      border-radius: 50%;
    }
    a.active {
      width: 9px;
      height: 9px;
      background: @c-lightblue;
      border: 3px solid @c-orange;
    }
  }
}

.services {
  padding-bottom: 30px;
  &__title {
    position: relative;
    top: -17px;
    width: 150px;
    margin: 0 auto;
    margin-bottom: 10px;
    background: @c-lightblue;
    color: white;
    font-size: 22px;
    text-align: center;
    padding: 5px 0;
    border-radius: 4px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__list-item {
    text-align: center;
    width: 165px;
    img {
      margin-bottom: 20px;
    }
    .item-title {
      color: #515862;
      margin-bottom: 10px;
    }
    p {
      font-size: 11px;
      line-height: 15px;
    }
    .services__list--details {
      color: @c-lightblue;
    }
  }
}

.portfolio {
  background: #2e3e4f;
  padding-top: 50px;
  padding-bottom: 75px;
  &__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 70px;
  }
  &__title {
    margin-right: 55px;
    font-size: 30px;
    font-family: @ff-breeserif;
    font-weight: normal;
    color: @c-orange;
    line-height: 1;
  }
  &__btn {
    display: block;
    width: 90px;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    border-radius: 3px;
    color: white;
    background: @c-lightblue;
    transition: all 0.3s;
  }
  &__btn:hover {
    background: @c-darkblue;
  }
  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .portfolio-item {
    width: 280px;
    margin-bottom: 20px;
    .Media-side-margins();
  }
  .portfolio-item__img {
    width: 260px;
    height: 200px;
    margin-bottom: 20px;
    background: url("../graph/img/main-icon-photo.png") no-repeat 50% 50% #bebebe;
    border: 10px solid white;
  }
  .portfolio-item__title {
    margin-bottom: 10px;
    color: @c-orange;
  }
  p {
    font-size: 11px;
    line-height: 15px;
    color: #bcbcbc;
  }
}

.offer {
  padding-top: 35px;
  &__title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    color: @c-lightblue;
  }
  &__content {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    color: #515862;
    text-align: center;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    list-style: none;
    border-bottom: 1px solid #d9d9d9;
  }
  .offer-item {
    position: relative;
    width: 190px;
    margin-bottom: 20px;
    p {
      margin-bottom: 10px;
    }
  }
  .offer-item__title {
    margin-bottom: 10px;
    color: @c-lightblue;
  }
  &__btn {
    position: absolute;
    right: 0;
    width: 55px;
    display: block;
    padding: 7px 0;
    background: @c-lightblue;
    text-align: center;
    border-radius: 3px;
    font-size: 12px;
    line-height: 12px;
    color: white;
    transition: all 0.3s;
    box-shadow: 0 3px 0 0 @c-darkblue;
  }
  &__btn:hover {
    background: @c-darkblue;
  }
}  

.testimonals {
  padding-top: 30px;
  //  padding-bottom: 200px; /*місце для майбутнього слайдера, я його ше не продумав*/
  &__title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 27px;
    line-height: 40px;
    color: @c-lightblue;
  }
  &__phrase {
    display: none;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 800px;
    text-align: center;
    font-size: 25px;
    font-family: @ff-breeserif;
  }
  .show {
    display: block;
  }
}

.testimonals__block {
  position: relative;
  padding-top: 50px;
  margin: 0 auto;
  width: 210px;
  display: flex;
  justify-content: space-between;
  .element {
    width: 67px;
    border-bottom: 6px solid #c1c1c1;
    transition: all 0.8s;
    perspective: 500px;
    cursor: pointer;
  }
  .coin {
    position: relative;
    width: 67px;
    height: 67px;
    margin-bottom: 15px;
    border-radius: 50%;
    transition: all 0.6s;
    transform-style: preserve-3d;
  }
  .coin:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    content: "";
    border: 2px solid @c-orange-testimonals;
    border-radius: 50%;
    background: transparent;
    transition: all 0.3s cubic-bezier( 0.65, 0.12, 0.42, 2.25 );
    transform: scale(1);
  }
  .coin:hover:before {
    transform: scale(1.1);
  }
  .front,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 67px;
    height: 67px;
    line-height: 67px;
    border-radius: 50%;
    background-color: @c-gray-testimonals;
    text-align: center;
    backface-visibility: hidden;
  }
  .male .front {
    background: url("../graph/img/main-testimonals-icon-male.png") no-repeat bottom center @c-gray-testimonals;
  }
  .female .front {
    background: url("../graph/img/main-testimonals-icon-female.png") no-repeat bottom center @c-gray-testimonals;
  }
  .back {
    background: @c-orange-testimonals;
    transform: rotateY(180deg);
  }
  .male .back {
    background: url("../graph/img/main-testimonals-icon-male.png") no-repeat bottom center @c-orange-testimonals;
  }
  .female .back {
    background: url("../graph/img/main-testimonals-icon-female.png") no-repeat bottom center @c-orange-testimonals;
  }
  .name {
    position: absolute;
    //    min-height: 40px;
    top: 0;
    left: 10px;
    text-align: center;
    background: #ffffff;
    //    border: 1px solid red;
    opacity: 0;
    color: #f88560;
    transition: 0.5s all;
  }
  .active + .name {
    opacity: 1;
  }
  .active .coin {
    transform: rotateY(180deg);
  }
  .active {
    border-bottom-color: #f88560;
  }
  .active:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 45%;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    background: #f88560;
  }
}

/*====================================== Main-content END =======================================*/
/*========================*/
/*=========================*/
















