@media (max-width: 900px) {
  .offer {
    &__list {
      justify-content: space-around;
    }
    .offer-item {
      margin-right: 20px;
      margin-bottom: 40px;
    }
  }
  .testimonals {
    &__phrase {
      width: 90%;
      font-size: 20px;
    }
  }
}

@media (max-width: 800px) {
  .services {
    &__list {
      justify-content: space-around;
    }
    &__list-item {
      margin-bottom: 20px;
      margin-right: 20px;
    }
  }
}

@media (max-width: 700px) {
  .page__slider {
    .slide {
      h3 {
        font-size: 50px;
      }
      p {
        width: 90%;
      }
    }
  }
}

@media (max-width: 517px) {
  .portfolio {
    &__header {
      justify-content: space-around;
    }
    &__title {
      width: 100%;  
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  .page__slider {
    .slide {
      .slider__btn {
        width: 200px;
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 360px) {
  .services {
    &__list-item {
      margin-right: 0;
    }
  }
  .offer {
    .offer-item {
      margin-right: 0;
    }
  }
  .portfolio {
    .portfolio-item {
      margin-right: 0;
    }
  }
}