@ff-breeserif: BreeSerif, "Arial", sans-serif;
@ff-bebas: BebasNeue,"Arial", sans-serif;
@ff-ubuntu: "Ubuntu","Arial", sans-serif;

@c-orange: #f98561;
@c-lightblue: #2190c1; 
@c-darkblue: #0080b7;
@c-gray-testimonals: #c1c1c1;
@c-orange-testimonals: #f88560;

@border-footer: #556270;